.icon__logo {
  width: 80px;
  height: 30px;
}

.text__logo {
  font-size: 90px;
  fill: #fff;
  font-style: italic;
  stroke: #fff;
}

.text__logo-accent {
  font-size: 90px;
  font-weight: bold;
  fill: #fff;
  stroke: #fff;
}

@media screen and (min-width: 768px) {
  .icon__logo {
    width: 120px;
    height: 35px;
  }
  .text__logo {
    font-size: 80px;
  }
  .text__logo-accent {
    font-size: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .icon__logo {
    width: 200px;
    height: 50px;
  }
  .text__logo {
    font-size: 87px;
  }
  .text__logo-accent {
    font-size: 87px;
  }
}
