.section {
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.notFound {
  text-align: center;
  padding: 2rem 1rem;
}

.notFoundIcon {
  margin-bottom: 1rem;
}

.notFoundTitle {
  font-size: 1.5rem;
  color: var(--notfound-title-color);
  margin-bottom: 0.5rem;
}

.notFoundDescription {
  color: var(--notfound-description-color);
  font-size: 1rem;
  line-height: 1.5;
}

.error {
  text-align: center;
}
